
@values {
    colorPrimary: ${Theme.get('colorPrimary')};
    colorPrimary1: ${Theme.get('colorPrimary', 0)};
    colorPrimary2: ${Theme.get('colorPrimary', 1)};
    colorPrimary3: ${Theme.get('colorPrimary', 2)};

    colorAccent: ${Theme.get('colorAccent')};

    colorText: ${Theme.get('colorText')};

    fontFamily: ${Theme.getAll('fontFamily').join(', ')};
    fontSizeBody: ${Theme.get('fontSize', 0)*Theme.scale}px;

    fontSizeButton: ${Theme.get('fontSize', 1)}px;

    btnPaddingV: ${10*Theme.scale}px;
    btnPaddingH: ${18*Theme.scale}px;

    navHeight: ${Theme.sizes.navbar}px;
    mainPadding: ${Theme.getR('main-padding')}px;

    sidebarWidth: ${R('100%', Theme.sizes.sidebar+'px', Theme.sizes.sidebar+'px')};

    sidebarHeight: ${window.innerHeight - Theme.sizes.navbar}px;
    sidebarTWidth: ${300+(2*20)}px;

    bodyHeight: ${document.documentElement.clientHeight - Theme.sizes.navbar}px;
};;

body {
    background-color: #fcfcfc;
    padding: 0;
    margin: 0;
};;

.su-body {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height: 100%;
    padding-top: $navHeight;
};;




.su-main {
    flex: auto;
    position: relative;
};;

.su-style-classic .su-main, .su-style-classic.su-main {
    padding: $mainPadding;
};;

${Theme.getR('show-sidebar')?".su-sidebar-sticky + .su-main {margin-left: $sidebarWidth;\};;":""}

.su-navbar, .su-navbar-pinned {
    box-sizing: border-box;
    
    width: 100%;
    height: $navHeight;

    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
};;

.su-style-classic .su-navbar  {
    padding: 0 50px;

    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
};;

.su-navbar-pinned {
    position: fixed;
    z-index: 1000;
};;




.su-navbar-left, .su-navbar-center, .su-navbar-right {
    display: flex;
};;

.su-navbar-left>*, .su-navbar-center>*, .su-navbar-right>* {
    align-items: center;
};;

.su-navbar-left {
    text-align: left;
};;

.su-navbar-center {
    text-align: center;
};;

.su-navbar-right {
    text-align: right;
};;

.su-navbar-links {
    display: inline-block;
};;

.su-navbar-links>* {
    float: left;
};;


.su-style-classic .su-navbar-links>a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
};;




.su-sidebar {
    box-sizing: border-box;
    flex: none;
    width: $sidebarWidth;
    height: 100%;
    overflow-y: auto;

    z-index: 500;

    display: ${Theme.getR('show-sidebar')?"block":"none"};
};;

.su-sidebar-sticky {
    position: fixed;
    height: $sidebarHeight;
};;

.su-style-classic .su-sidebar, .su-style-classic.su-sidebar {
    background-color: #f0f0f0;
};;


.su-sidebar-togglebtn {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: ${Theme.getR('show-sidebar')?"none":"initial"};
    padding: 5px;
}




